.DS_Store
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
.build/
Packages/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM/
build/
Pods/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
Carthage/
Archives/
